.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  
  
  width: 100%;
  
  border-radius: 20px;
  

  background-color: #B17147;
  color:aliceblue;

  box-shadow: 0px 10px 13px -7px #000000, 0px 12px 10px 0px rgba(25,0,54,0);

  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgb(19, 0, 36) 0%, rgb(255, 169, 88) 100%);

}